:root{
    --page-1-color:steelblue;
    --page-2-color:tan;
    --page-3-color:teal;
    --page-4-color:slateblue;
    --animation-speed: 2s;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    overflow:hidden;
    margin: 0;
    padding: 0;
    color: white;
}

/* Page Colors*/
#page-1{background-color: var(--page-1-color);}
#page-2{background-color: var(--page-2-color);}
#page-3{background-color: var(--page-3-color);}
#page-4{background-color: var(--page-4-color);}

/* Page */
.page{
    display: flex;
    flex-direction: column;
    height:100vh;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 0px 4rem;
}

.page h2{
    font-size: 2.5rem;
    line-height: 1.2;
    margin:1.2rem;
    
}

.page p{
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

.btn{
    display:inline-block;
    text-decoration: none;
    color: #333;
    background: #f4f4f4;
    border:none;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in;
}

.btn:hover,
.btn-dark{
    color:#fff;
    background:#333;
}

.btn-dark:hover{
    color:#333;
    background:#fff;
}

/* Animation */

#page-1 h2{
    transform: translateY(-1000px);
    animation: animate1 var(--animation-speed) 1 ease-out forwards;
}

@keyframes animate1{
    to{
        transform: translate(0px);
    } 
}

#page-1 p{
    transform: translateX(-2000px);
    animation: animate1 var(--animation-speed) 1.5s 1 ease-out forwards;
}

@keyframes animate1{
    to{
        transform: translate(0px);
    } 
}
